<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stocks</title>
</head>
<body>
    <h1>{{string}} stocks</h1>
    <table>
        <thead>
            <tr>
                <th>symbol</th>
                <th>c</th>
                <th>d</th>
                <th>dp</th>
                <th>h</th>
                <th>l</th>
                <th>o</th>
                <th>pc</th>
                <th>t</th>
                <th>time</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{stock.symbol}}</td>
                    <td>{{stock.c}}</td>
                    <td>{{stock.d}}</td>
                    <td>{{stock.dp}}</td>
                    <td>{{stock.h}}</td>
                    <td>{{stock.l}}</td>
                    <td>{{stock.o}}</td>
                    <td>{{stock.pc}}</td>
                    <td>{{stock.t}}</td>
                    <td>{{stock.time}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>


